
.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111;
    color: #fff;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    position: absolute; 
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    &__wrap {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60vw;
    }
    &__left {
        display: flex;
        align-items: center;
        gap: 2rem;
        & li {
            font-size: 18px;
            
        }
    }
    @media (max-width:1200px) {
        &__wrap {
            width: 100vw;
          } 
     
      }
      @media (max-width:650px) {
        &__sm {
         display: none;
        } 
     
      }
      @media (max-width:370px) {
        &__left {
            left:36%
        }
        &__wrap {
            width: 100vw;
          } 
        .coolLink[data-text="Home"]{
         display: none;
        } 
     
      }

}

.socials {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 20rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    z-index: 2;
  }
  .scrollDown {
    position: absolute;
    bottom:1rem;
    left: 50%;
    transform: translateX(-50px);
    &__wheel{
      height: 42px;
      width: 24px;
      border-radius: 10px;
      border: 2px solid #fff;
    }
    
    &--inner {
      position: absolute;
      left: 10px;
      margin-top:5px ;
      width: 4px;
      height: 4px;
      background: #fff;
      border-radius: 50%;
      animation: movingwheel .5s linear infinite;
      @keyframes movingwheel {
       0% {
        top:1px;
       }
       25% {
        top: 2px;
      }
      50% {
        top:3px
      }
      75% {
        top:2px
      }
      100% {
        top:1px;
      }
      }
    }
    .scrollDown__arrows {
      display: flex;
      flex-direction: column;
      align-items: center;
      .scrollDown__arrow {
        width: 15px;
        height: 15px;
        border-right:2px solid #fff;
        border-bottom:2px solid #fff;
        transform: rotate(45deg);
        animation: scrollAnim 1s infinite;
        &:nth-child(2){
          animation-delay: 0.2s;
        }
        @keyframes scrollAnim {
          0%{
           opacity: 0;
          }
          50%{
           opacity: 0.5;
          }
          100% {
           opacity: 1;
          }
        }
      }
    }
  }
  .intro {
      position: absolute;
      top: 20%;
      left: 5rem;
      width: 100%;
      height: 60%;
      z-index: 2;
      color: #fff;
      h4{
        font-size: 3rem;
        font-family: 'Karmatic Arcade', sans-serif;
      }
      h1{
        font-size: 4rem;
        font-family: 'Cute Be Special', sans-serif;
      }
    
  }