.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 99;
    background-color: black;
    display: grid;           
    place-items: center;
    font-family: "Orbiton", sans-serif;
    &__box{
        position: relative;
        width: 500px;
        height: 200px;
        border: 3xp solid red($color: #000000);
    }
}
